In [ ]:
import pandas as pd
#  Data Loading
file_path = 'combined_data.csv'
data = pd.read_csv(file_path)

In [ ]:
#  Country and Region Distribution
country_distribution = data['country'].value_counts()
country_distribution.head(10)

country
United States     69500
India             25092
Germany           17616
United Kingdom    15068
China             14581
Brazil            14083
Canada            11034
France            10046
Russia             6121
Netherlands        5677
Name: count, dtype: int64

In [23]:
#  Collaboration behavior analysis
user_submission_counts = data['email'].value_counts()

top_users = user_submission_counts.head(10)
bottom_users = user_submission_counts.tail(10)

top_users, bottom_users

(email
 tingyan.shen@gmail.com        2
 github@nunogois.com           2
 yane@88.com                   2
 josem.perram@educa.jcyl.es    2
 napoli.tiago96@gmail.com      2
 fembina@pm.me                 2
 duritia@yahoo.com             2
 igoel.mail@gmail.com          2
 kazenasser@gmail.com          2
 jlynch@raiderexpress.tech     2
 Name: count, dtype: int64,
 email
 576625322@qq.com              1
 earl.floden@octoenergy.com    1
 hust2012jiangkai@gmail.com    1
 cosmin.p@live.com             1
 rladwig@ecos.au.dk            1
 tamaina@hotmail.co.jp         1
 glzjin2015@gmail.com          1
 warunhasija@gmail.com         1
 till.hartmann@udo.edu         1
 rupeshbarve17@gmail.com       1
 Name: count, dtype: int64)

In [ ]:
#  City Level Distribution
city_distribution = data['user_location'].value_counts()
city_distribution.head(10)

user_location
Germany              5050
India                3877
London               3148
France               2593
United States        2425
Seattle, WA          2083
Berlin               1975
Brazil               1924
Bangalore            1911
San Francisco, CA    1716
Name: count, dtype: int64

In [ ]:
import pandas as pd  
import matplotlib.pyplot as plt  
import seaborn as sns  
import pytz  
from datetime import datetime  


# 处理时间数据  
data['updated_at'] = pd.to_datetime(data['updated_at'])  

# 提取用户位置和时区  
# 这里假设 location_info_location 列包含城市或地区信息  
def get_timezone(location):  
    try:  
        # 使用pytz库获取时区  
        timezone = pytz.timezone(location)  
        return timezone.zone  
    except Exception:  
        return None  

# 创建一个新的列来存储时区信息  
data['timezone'] = data['location_info_location'].apply(get_timezone)  

# 统计每个时区的用户数量  
timezone_distribution = data['timezone'].value_counts()  
timezone_distribution.head(10)

timezone
Japan                1422
Poland               1383
Portugal              599
Asia/Tokyo              7
Asia/Shanghai           4
America/New_York        3
Europe/Berlin           2
Europe/Brussels         1
America/Vancouver       1
Eire                    1
Name: count, dtype: int64

In [ ]:
#  top 10 users
user_submission_counts = data['id'].value_counts()

# Display the top 10 users by submission count and the bottom 10 users by submission count
top_users = user_submission_counts.head(10)
bottom_users = user_submission_counts.tail(10)

top_users, bottom_users

company
Microsoft     1501
Red Hat        905
Google         903
IBM            374
Amazon         274
@Microsoft     256
@google        232
Freelance      228
AWS            222
Intel          216
Name: count, dtype: int64

In [15]:
#  Company Distribution
company_distribution = data['company'].value_counts()
company_distribution.head(10)

company
Microsoft     1501
Red Hat        905
Google         903
IBM            374
Amazon         274
@Microsoft     256
@google        232
Freelance      228
AWS            222
Intel          216
Name: count, dtype: int64

In [16]:
#  Update time distribution
data['updated_at'] = pd.to_datetime(data['updated_at'])
update_time_distribution = data['updated_at'].dt.hour.value_counts().sort_index()
update_time_distribution

updated_at
16    229977
Name: count, dtype: int64

In [19]:
#  Users' bio_length
data_filtered = data[pd.to_numeric(data['bio'], errors='coerce').notnull()]

data_filtered['bio_length'] = data_filtered['bio'].apply(len)
bio_length_distribution = data_filtered['bio_length'].describe()
bio_length_distribution

C:\Users\18336\AppData\Local\Temp\ipykernel_22152\2248549312.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['bio_length'] = data_filtered['bio'].apply(len)

count     54.000000
mean       8.685185
std       22.081174
min        1.000000
25%        2.000000
50%        3.000000
75%        6.000000
max      160.000000
Name: bio_length, dtype: float64