In [ ]:
import pandas as pd
import os

In [ ]:
# combine files
data_frames = []
for i in range(7):
    file_name = os.path.join( f"users_combined_info_500_part_{i + 1}.csv")  
    df = pd.read_csv(file_name)
    data_frames.append(df)
combined_df = pd.concat(data_frames, ignore_index=True)
combined_df.to_csv("combined.csv", index=False)

In [77]:
data=pd.read_csv("combined.csv")
grouped = data.groupby('user_id', as_index=False).first()

In [78]:
#  Country and Region Distribution
country_distribution = grouped['country'].value_counts()
country_distribution.head(10)

country
United States     122
Germany            59
China              34
France             24
Canada             24
United Kingdom     21
Netherlands        18
Australia          15
Switzerland        14
Japan              13
Name: count, dtype: int64

In [80]:
#  City Level Distribution
city_distribution = grouped['location'].value_counts()
city_distribution.head(10)

location
Germany                23
Berlin, Germany         7
San Francisco           7
Japan                   6
Paris, France           6
Switzerland             6
France                  5
Berlin                  5
Tokyo, Japan            5
Zurich, Switzerland     4
Name: count, dtype: int64

In [83]:
# timezone distribution

country_to_timezone = {  
    'United States': 'America/New_York',         # Eastern Time  
    'Germany': 'Europe/Berlin',                  # Central European Time  
    'China': 'Asia/Shanghai',                     # China Standard Time  
    'United Kingdom': 'Europe/London',            # Greenwich Mean Time  
    'France': 'Europe/Paris',                     # Central European Time  
    'Canada': 'America/Toronto',                  # Eastern Time  
    'Netherlands': 'Europe/Amsterdam',            # Central European Time  
    'Czechia': 'Europe/Prague',                   # Central European Time  
    'Japan': 'Asia/Tokyo',                        # Japan Standard Time  
    'Switzerland': 'Europe/Zurich',               # Central European Time  
    'Australia': 'Australia/Sydney',              # Australian Eastern Time  
    'Italy': 'Europe/Rome',                        # Central European Time  
    'Poland': 'Europe/Warsaw',                    # Central European Time  
    'New Zealand': 'Pacific/Auckland',             # New Zealand Standard Time  
    'Spain': 'Europe/Madrid',                      # Central European Time  
    'Austria': 'Europe/Vienna',                   # Central European Time  
    'Sweden': 'Europe/Stockholm',                 # Central European Time  
    'Finland': 'Europe/Helsinki',                 # Eastern European Time  
    'Denmark': 'Europe/Copenhagen',               # Central European Time  
    'Bulgaria': 'Europe/Sofia',                   # Eastern European Time  
    'Hungary': 'Europe/Budapest',                 # Central European Time  
    'Belgium': 'Europe/Brussels',                 # Central European Time  
    'Norway': 'Europe/Oslo',                      # Central European Time  
    'India': 'Asia/Kolkata',                      # Indian Standard Time  
    'United Arab Emirates': 'Asia/Dubai',         # Gulf Standard Time  
    'Singapore': 'Asia/Singapore',                # Singapore Standard Time  
    'Brazil': 'America/Sao_Paulo',                # Brasília Time  
    'Hong Kong': 'Asia/Hong_Kong',                # Hong Kong Standard Time  
    'Malaysia': 'Asia/Kuala_Lumpur',             # Malaysia Standard Time  
    'Pakistan': 'Asia/Karachi',                   # Pakistan Standard Time  
    'Indonesia': 'Asia/Jakarta',                  # Western Indonesia Time  
    'Russia': 'Europe/Moscow',                    # Moscow Standard Time  
    'Taiwan': 'Asia/Taipei',                      # Taiwan Standard Time  
    'Tunisia': 'Africa/Tunis',                    # Central European Time  
    'Ethiopia': 'Africa/Addis_Ababa',            # East Africa Time  
    'Colombia': 'America/Bogota',                 # Colombia Time  
    'Slovenia': 'Europe/Ljubljana',               # Central European Time  
    'South Korea': 'Asia/Seoul',                  # Korea Standard Time  
    'Ireland': 'Europe/Dublin',                   # Greenwich Mean Time  
    'Vietnam': 'Asia/Bangkok',                    # Indochina Time  
    'Lebanon': 'Asia/Beirut',                     # Eastern European Time  
    'Ecuador': 'America/Guayaquil',               # Ecuador Time  
    'Greece': 'Europe/Athens',                    # Eastern European Time  
    'Portugal': 'Europe/Lisbon',                  # Western European Time  
    'Kenya': 'Africa/Nairobi',                    # East Africa Time  
    'Egypt': 'Africa/Cairo',                       # Eastern European Time  
    'Georgia': 'Asia/Tbilisi',                    # Georgian Time  
    'Estonia': 'Europe/Tallinn',                  # Eastern European Time  
    'Lithuania': 'Europe/Vilnius',                # Eastern European Time  
    'South Africa': 'Africa/Johannesburg',        # South Africa Standard Time  
    'Türkiye': 'Europe/Istanbul',                  # Turkey Time  
    'Israel': 'Asia/Jerusalem'                    # Israel Standard Time  
}
grouped['event_time'] = pd.to_datetime(df['event_time']) 
grouped['timezone'] = grouped['country'].map(country_to_timezone) 
timezone_distribution = grouped['timezone'].value_counts()
timezone_distribution.head(10)

timezone
America/New_York    122
Europe/Berlin        59
Asia/Shanghai        34
Europe/Paris         24
America/Toronto      24
Europe/London        21
Europe/Amsterdam     18
Australia/Sydney     15
Europe/Zurich        14
Asia/Tokyo           13
Name: count, dtype: int64

In [90]:
#  top 10 users
user_submission_counts = data['user_id'].value_counts()
top_users = user_submission_counts.head(10)
bottom_users = user_submission_counts.tail(10).sort_values(ascending=True)
top_users, bottom_users

(user_id
 158862      37960
 11146458    36400
 28706372    30616
 1580956     20300
 40306929    19215
 43724913    14505
 9824526     12905
 50149701    12704
 195327      11218
 663432      10764
 Name: count, dtype: int64,
 user_id
 814283       75
 3238291     485
 1133777     582
 1609022     599
 62625502    621
 39504233    635
 3162115     644
 6379399     650
 999278      743
 4560679     750
 Name: count, dtype: int64)

In [87]:
#  event_action distribution

event_action_counts = data.groupby('user_id')['event_action'].value_counts().unstack(fill_value=0)
event_action_counts.sort_values(by='added',ascending=False).head(10)

event_action  added  closed  created  opened  published  reopened  started
user_id
11146458      36111     101      100      83          0         5        0
158862        26053    7735      105    4064          2         0        1
40306929      18989      10        0     131         85         0        0
28706372      15084    6944     7868     440         56         8      216
43724913      13553     272      454     211          2        13        0
50149701      12645       2        0      54          3         0        0
8188402        8318       0        0      28          0         0        0
1580956        7804    1736     8540    2064         10        58       88
9824526        6159    2740     3151     629          0         0      226
20182680       6124      61      366       0       2586         0        0

In [61]:
event_action_counts.sort_values(by='created',ascending=False).head(10)

event_action  added  closed  created  opened  published  reopened  started
user_id
1580956        7804    1736     8540    2064         10        58       88
28706372      15084    6944     7868     440         56         8      216
138339         1788     382     6058     306          0         0        0
985347          242       9     4708       3          4         0        0
7083755        1589     825     3566     218          0         7        4
195327         4470    3103     3545      74         22         4        0
12560461        201     152     3452      76          2         6        9
663432         5086    1392     3334     849          7        92        4
490673         1035     681     3276     228          0        10        1
9824526        6159    2740     3151     629          0         0      226

In [63]:
event_action_counts.sort_values(by='published',ascending=False).head(10)

event_action  added  closed  created  opened  published  reopened  started
user_id
20182680       6124      61      366       0       2586         0        0
477956         1983     290      794     342       1083         2        0
47313          1646     234      492      71        911         2        0
108653         1080      83      444       6        324         1       14
24528715       3103     171      214     130        307         3        1
1027334        1537     330      970      68        231         1        2
8086956        1153     998     2656       0        161         0        6
826656          591     858      789       6        121         1        2
36352093       1476     217     1703     315        116         4        0
52195           855     425      983      95        109         5        3

In [65]:
#  users' influence distribution
user_influence = data.groupby('user_id')['total_influence'].first()
top_10_users_by_influence = user_influence.sort_values(ascending=False).head(10)
top_10_users_by_influence

user_id
663432      1776.967163
2892853     1674.805908
116184      1590.152954
1309177     1580.198242
195327      1520.352173
26833433    1392.865723
7258858     1220.031738
7083755     1219.017944
91018726    1201.465759
15247171    1120.395699
Name: total_influence, dtype: float64